.container {
    display: flex;
    margin-top: 20px;
    width: 90%;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    border: solid black 2px;
}

.face-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}